
* {
    box-sizing: border-box;
}

html {
    font-size: 10px; /* definir uma font-size padrão */
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 15px
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.titulo-a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
}

.navegacao {
    display: flex;
    text-transform: uppercase;
    /* padding: 1.5rem; */
    z-index: 99;
    /* position: fixed; */
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
}

.navegacao ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao li {
    margin-left: 10px;
}

.corpo-bodi {
    width: 100%;
}

.coluna-1 {
    display: flex;
}

.quadrado-1 {
    background-color: black;
    width: 70%;
    height: 250px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    text-transform: uppercase;
}

.quadrado-2 {
    background-color: rgb(210, 210, 210);
    width: 35%;
    height: 250px;
}

.coluna-2 {
    display: flex;
}

.coluna-2 div {
    /* background-color: #8c3939; */
    width: 70%;
    height: 250px;
}

.quadrado-meio {
    background-color: crimson;
}

.coluna-3 {
    display: flex;
}

.coluna-3 div {
    /* background-color: blueviolet; */
    width: 70%;
    height: 250px;
}

.quadrado-rigth {
    background-color: black;
}

.quadrado-center {
    background-color: rgb(232, 164, 164);
}

.quadrado-left {
    background-color:  rgb(210, 210, 210);
}

footer {
    display: flex;
    padding: 40px 0 40px 0;
}

footer p {
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

